
#main-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1px;
}

#canvas-picture {
  padding: 0;
  margin: 0 auto;
  width: 310px;
  position: relative;
  text-align: center;
  
}
#canvas-picture img{
  width: 300px;
  height: auto;
  border-style: ridge;
  border-width: 10px;
  border-color: olivedrab;
}
#canvas-text {
  font-size: 32px;
  left: 130px;
  top: 75px;
  position: absolute;
  transform: rotate(30deg);
  color: rgb(173, 113, 0);
}
/* #smiley {
  width: 200px;
  position: absolute;
  z-index: -1000;
} */
